name: halo2-browser Tests

on: push

jobs:
  # halo2-wasm-tests:
  #   runs-on: ubuntu-latest-64core-256ram
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Build halo2-wasm
  #       working-directory: halo2-wasm
  #       run: |
  #         rustup toolchain install nightly-2023-08-12-x86_64-unknown-linux-gnu
  #         rustup component add rust-src --toolchain nightly-2023-08-12-x86_64-unknown-linux-gnu
  #         cargo build --target=x86_64-unknown-linux-gnu --verbose
  #     - name: Test halo2-wasm
  #       working-directory: halo2-wasm
  #       run: cargo test --target=x86_64-unknown-linux-gnu
  halo2-lib-js-tests:
    runs-on: ubuntu-latest-64core-256ram
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Build halo2-wasm
        working-directory: halo2-wasm
        run: |
          rustup toolchain install nightly-2023-08-12-x86_64-unknown-linux-gnu
          rustup component add rust-src --toolchain nightly-2023-08-12-x86_64-unknown-linux-gnu
          cargo build --target=x86_64-unknown-linux-gnu --verbose
      - name: Build halo2-lib-js
        working-directory: halo2-lib-js
        run: |
          npm install
          npm add @axiom-crypto/halo2-wasm-cli@0.1.3
      - name: Test halo2-lib-js/halo2-wasm VK equivalence
        working-directory: halo2-lib-js
        run: npm run test:vk
      - name: Test halo2-lib-js constant equivalence
        working-directory: halo2-lib-js
        run: npm run test:constant
      