name: halo2-browser Tests

on: push

jobs:
  halo2-wasm-tests:
    runs-on: ubuntu-latest-64core-256ram
    steps:
      - uses: actions/checkout@v3
      - name: Build halo2-wasm
        working-directory: halo2-wasm
        run: |
          rustup toolchain install nightly-2023-08-12-x86_64-unknown-linux-gnu
          rustup component add rust-src --toolchain nightly-2023-08-12-x86_64-unknown-linux-gnu
          cargo build --target=x86_64-unknown-linux-gnu --verbose
      - name: Test halo2-wasm
        working-directory: halo2-wasm
        run: cargo test --target=x86_64-unknown-linux-gnu
  halo2-lib-js-tests:
    runs-on: ubuntu-latest-64core-256ram
    steps:
      - uses: actions/checkout@v3
      - name: Build halo2-wasm
        working-directory: halo2-wasm
        run: |
          rustup toolchain install nightly-2023-08-12-x86_64-unknown-linux-gnu
          rustup component add rust-src --toolchain nightly-2023-08-12-x86_64-unknown-linux-gnu
          cargo build --target=x86_64-unknown-linux-gnu --verbose
      - name: Test halo2-wasm
        working-directory: halo2-wasm
        run: cargo test --target=x86_64-unknown-linux-gnu
      - name: Build halo2-lib-js
        working-directory: halo2-lib-js
        run: |
          pnpm install
          pnpm add @axiom-crypto/halo2-wasm-cli
      - name: Test halo2-lib-js/halo2-wasm VK equivalence
        working-directory: halo2-lib-js
        run: |
          pnpm run test:vk
      - name: Test halo2-lib-js constant equivalence
        working-directory: halo2-lib-js
        run: |
          pnpm run test:constant
      